<ion-header [translucent]="true">
  <ion-toolbar >
    <div style="display: flex" >
    <ion-title>
      Registro de Débitos
    </ion-title>
    <ion-button>
      <ion-icon name="filter-outline" ></ion-icon>
    </ion-button>
  
</div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wallet</ion-title>
    </ion-toolbar>
  </ion-header>
  <div  [formGroup]="registerExpenseForm">

      <ion-item>
        <ion-label  position="stacked">Título da compra</ion-label>
        <ion-input formControlName="title" placeholder="Ex: Padaria, Mercado"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label  position="stacked">Valor da compra</ion-label>
        <ion-input formControlName="value" placeholder="12.00"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="value.invalid && value.touched">
        <div *ngIf="value.errors.required">
          Por favor, preencha o valor.
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-input formControlName="description" placeholder="Almoço do dia x"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tag</ion-label>
        <ion-input formControlName="tag" placeholder="Ex: padaria, lanche"></ion-input>
      </ion-item>
      
      <div>
        <ion-button 
        [disabled]="registerExpenseForm.invalid" 
        color="primary"
        expand="block"
        (click)="saveExpense()">Salvar</ion-button>
      </div>
   </div>

   <ion-card *ngFor="let expense of allExpenses">
    <ion-card-header>
      <div class="title-expenses-card">
        <ion-card-title>{{ expense.title }}</ion-card-title>
        <ion-card-title>{{'R$' + expense.value}}</ion-card-title>
      </div>
      
      <ion-card-subtitle>
        <ion-chip *ngFor="let tag of expense.tag" color="secondary">
          {{tag}}
        </ion-chip>  
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{expense.description}}
    </ion-card-content>
  </ion-card>
  
</ion-content>
