<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div  [formGroup]="registerTransactionForm">
    
      <ion-item>
        <ion-label  position="stacked">Valor da compra</ion-label>
        <ion-input formControlName="value"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="value.invalid && value.touched">
        <div *ngIf="value.errors.required">
          Por favor, preencha o valor.
        </div>
      </ion-item>
      <ion-item>
        <ion-label  formControlName="description" position="stacked">Descrição</ion-label>
        <ion-input></ion-input>
      </ion-item>
      
      <div>
        <ion-button color="primary">Salvar</ion-button>
      </div>
   </div>
  
</ion-content>
